@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

// Шрифты
$font: 'Manrope', sans-serif;

// Цвета
$purple_900: #400799;
$purple_800: #5509CC;
$purple_700: #6A0BFF;
$purple_600: #883CFF;
$purple_500: #A66DFF;
$purple_400: #C39DFF;
$purple_300: #D2B6FF;
$purple_200: #E1CEFF;
$purple_100: #F0E7FF;

$red_900: #880727;
$red_800: #AF0932;
$red_700: #D50B3E;
$red_600: #F3164E;
$red_500: #F53D6B;
$red_400: #F76489;
$red_300: #F98BA6;
$red_200: #FBB1C4;
$red_100: #FDD8E1;

$yellow_900: #FAAF00;
$yellow_800: #FFC233;
$yellow_700: #FFCE5C;
$yellow_600: #FFDA85;

$green_900: #17663A;
$green_800: #1E874C;
$green_700: #26A95F;
$green_600: #2DCA72;

$black_900: #1A1A1A;
$black_800: #333333;
$black_700: #4D4D4D;
$black_600: #666666;
$black_500: #808080;
$black_400: #999999;
$black_300: #B3B3B3;
$black_200: #CCCCCC;
$black_100: #E6E6E6;
$black_50: #F2F2F2;

$white: #FFFFFF;












