* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: clamp(44.25rem, 7.964rem + 75.595vw, 76rem); // 1216px->708px(1440px -> 768px)
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: clamp(21.5rem, 1.426rem + 89.216vw, 44.25rem); // 708px->344px(768px -> 360px)
  }
}